body {
  background-color: #222;
  box-sizing: border-box;
  padding: 1rem;
  margin: 0;

  height: 100vh;

  color: #fff;
}
#root,
.App {
  height: 100%;
  width: 100%;
}
.App {
  position: relative;
  display: flex;

  align-items: center;
  justify-content: center;
}
.form {
  width: 50%;

  margin: 0 auto;
}

.title {
  text-align: center;
}

.form form {
  gap: 0.25rem;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.model-wrapper {
  align-items: center;
  width: 100%;

  flex: 1 1 0;
}
.model-wrapper > * {
  width: 100%;
}

.model-wrapper label {
  width: 30%;
}

.proximo {
  position: absolute;

  right: 5%;
  top: 5%;
}
.no-error {
  border: default;
  border-radius: default;
}

.error {
  border: 0.125rem solid #ff0000;
  border-radius: 0.25rem;
}

.registerList {
  position: fixed;

  top: 2.5%;
  right: 2.5%;

  height: 95%;

  width: -webkit-max-content;

  width: -moz-max-content;

  width: max-content;

  overflow-y: scroll;
  scrollbar-width: none;

  display: none;
}

h4,
p {
  margin: 0;
  padding: 0;
}

.register + .register {
  margin-top: 1rem;
}

.show {
  display: block;
}
